
body {
    background: rgb(219, 226, 232);
    background: linear-gradient(
        0deg,
        rgba(219, 226, 232, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #171a53;
}


h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 1em 4rem 0;
    }
}

h2 {
    border-bottom: 3px solid #b181ff;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
}

p {
    line-height: 1.6em;
}
/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #171a53;
}

.navbar__menu .menu__link:hover {
    background: #2015ff;
    color: #fff;
    transition: ease 0.3s all;
}


.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


.page__footer {
    background: #171a53;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}


.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}


section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(189, 234, 9, 0.8);
    background: linear-gradient(
        0deg,
        rgba(189, 234, 9, 0.5) 0%,
        rgba(189, 234, 9, 1) 100%
    );
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(101, 151, 255);
    background: linear-gradient(
        0deg,
        rgba(101, 151, 255, 0.5) 0%,
        rgba(101, 151, 255, 1) 100%
    );
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::after {
    content: '';
    background: rgb(177, 129, 255);
    background: linear-gradient(
        0deg,
        rgba(177, 129, 255, 0.5) 0%,
        rgba(177, 129, 255, 1) 100%
    );
    position: absolute;
    left: 3em;
    bottom: -1em;
    z-index: -5;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(32, 21, 255);
    background: linear-gradient(
        0deg,
        rgba(32, 21, 255, 0.5) 0%,
        rgba(32, 21, 255, 1) 100%
    );
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(10, 197, 161);
    background: linear-gradient(
        0deg,
        rgba(10, 197, 161, 0.5) 0%,
        rgba(10, 197, 161, 1) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(5n) .landing__container::after {
    content: '';
    background: rgb(177, 129, 255);
    background: linear-gradient(
        0deg,
        rgba(177, 129, 255, 0.5) 0%,
        rgba(177, 129, 255, 1) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


section.active {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

section {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
section.show {
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
    opacity: 1;
}

/* TODO: Add styles for Comments section and form */

#comments-section {
    display: flex;
    flex-direction: column;
    background-color: #d3d5ff;
    padding: 20px;
    border: 2px solid #b181ff;
}



label {
    font-size: 1.3em;
    font-family: 'Oxygen', Sans-Serif;
}

form input {
    width: 250px;
    padding: 5px;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #b181ff;
    outline: none;
}

form input:focus {
    border: 2px solid #5d00f3;
    transition: 0.5s ease;
    opacity: 0.7;
}

.submit-div {
    display: flex;
    align-items: center;
}


textarea {
    resize: none;
    border: 2px solid #b181ff;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Oxygen', Sans-Serif;

}

textarea:focus {
    border: 2px solid #5d00f3;
    transition: 0.5s ease;
    opacity: 0.7;
}

form button {
    background-color: #a8ffa8;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    border: none;
    border: 1px solid;
    transition: 0.5s ease;

}

form button:hover {
    background-color: #fd6767;
    color: #ffffff;
    transition: 0.5s ease;
}

.comment {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 550px) {
    .navbar__menu .menu__link {
        display: block;
        padding: 0.6em;
        font-weight: bold;
        text-decoration: none;
        color: #171a53;
    }
}